* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  font-family: sans-serif;
}

body {
	overflow-x: hidden;
	font-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 5%;
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style-type: none;
	overflow: hidden;
	width: 100%;
	padding: 10px;
	border: 1px solid;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 1%;
}

li {
	color: black;
	border-radius: 10px;
	border: 2px solid;
	width: 13%;
	text-align: center;
	margin-bottom: 1%;
	font-family: 'Cinzel', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

select {
	width: 200px;
	margin-bottom: 30px;
}